/*estilo universal de la p치gina*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*estilo del cuerpo de la p치gina*/

body {
    color: #ffffff;
    overflow-x: hidden
}


/*estilo del contenedor principal*/

.container-fluid {
    background-color: #1d2243;
    max-width: 100%;
}


/*estilo del contenedor secundario*/

.container {
    max-width: 100%;
}


/*estilo del encabezado*/

header {
    width: 100%;
    height: 100%;
}


/*estilo del carrusel*/

.carousel-img-width {
    background: no-repeat center;
    background-size: cover;
    width: 100%
}


/*estilos de la barra de navegaci칩n*/

.navbar {
    width: 100%;
    height: 40px;
    padding-top: 15px;
    font-size: 20px;
    scroll-behavior: smooth;
}

.nav-link {
    color: mediumspringgreen;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 23px;
    text-shadow: 1.5px 1.5px 1.5px black;
}

.icono-logo {
    font-size: 50px;
}

.logo {
    color: mediumspringgreen;
    width: 200px;
    height: 150px;
    font-size: 80px;
    font-family: 'The Nautigal', cursive;
    font-weight: 400;
    text-shadow: 1.5px 1.5px 1.5px white;
}

.barra {
    width: 100%;
    height: 20%;
    background-color: transparent;
    z-index: inherit;
}


/*estilo de la seccion quienes somos*/

h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.icon-color {
    background-color: #d99713;
    text-align: center;
    font-size: 25px;
}


/*estilo de la seccion destacados*/

h2 {
    text-align: center;
    color: #d99713;
    margin-top: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.size-img {
    height: 15rem;
}

.card {
    background-color: #ffffff;
    color: black;
    width: 330px;
    justify-content: space-between;
    margin-left: 15px;
    margin-bottom: 25px;
}


/*estilo de la seccion contacto*/

.contacto {
    background-color: #d99713;
    height: 180px;
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

.hola {
    margin-top: 100px;
}


/*estilo del pie de p치gina*/

footer {
    background-color: #ffffff;
    height: 90px;
}

.container {
    width: 100%;
    text-align: end;
    padding: 50px;
}

.center {
    display: inline-block;
    justify-content: center;
    padding-left: 350px;
    padding-top: 15px;
}

.logo-fin {
    color: mediumspringgreen;
    font-size: 50px;
    font-family: 'The Nautigal', cursive;
    font-weight: 200;
    text-shadow: 1.5px 1.5px 1.5px gray;
}

.cards {
    font-weight: 100;
    font-size: 40px;
    color: #1d2243;
}